name: immich

services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}

    container_name: immich_server

    ports:
      - 2000:2283/tcp

    volumes:
      - ${HOMELAB_DATA_DIR}/immich/library:/data
      - /etc/localtime:/etc/localtime:ro

    env_file:
      - .env

    depends_on:
      - redis
      - database

    restart: unless-stopped

    healthcheck:
      disable: false

  redis:
    image: docker.io/valkey/valkey:9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63

    container_name: immich_redis

    restart: unless-stopped

    healthcheck:
      test: redis-cli ping || exit 1


  database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23

    container_name: immich_postgres

    volumes:
      - ${HOMELAB_DATA_DIR}/immich/pgdata:/var/lib/postgresql/data

    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
      DB_STORAGE_TYPE: 'HDD'

    restart: unless-stopped

    healthcheck:
      disable: false

    shm_size: 128mb
