name: nextcloud

services:
  nextcloud-aio-mastercontainer:
    image: nextcloud/all-in-one:latest

    container_name: nextcloud-aio-mastercontainer

    ports:
      - 2500:8080/tcp

    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${HOMELAB_DATA_DIR}/nextcloud/data:/nextcloud-data

    environment:
      APACHE_PORT: 11000
      NEXTCLOUD_DATADIR: /nextcloud-data
      SKIP_DOMAIN_VALIDATION: "true"
      TZ: ${TZ}
      APACHE_IP_BINDING: "0.0.0.0"
      TRUSTED_CACERTS_DIR: /usr/local/share/ca-certificates

    restart: unless-stopped

    init: true

volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
